NODE_ENV=development
PORT=7801

DATABASE_URL="postgresql://task_hub:task_hub_password@localhost:5433/task_hub?schema=public"

CORS_ORIGIN="http://localhost:7802,http://localhost:5173,https://test.slimebase.ru"
